@import url("graph-skeleton.css");
@import url("table-skeleton.css");
@import url("auto-complete-input.css");
@import url("readings-table.css");
@import url("toggle-switch.css");
:root {
  font-family: "Helvetica Neue";
  --main-bg-color: #4cc0c0;
}

body {
  margin: 0;
}
.app-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.app-title {
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 1px;
  color: #000000;
}

/* station selector */
.select-container {
  position: relative;
  width: max-content;
  margin: auto;
}

.station-select {
  align-items: center;
}

.select-list {
  margin-top: 1px;
  position: absolute;
  top: 100%;
  left: 24px;
  width: 223px;
  border: 1px solid #ccc;
  background: #fff;
  max-height: 400px;
  z-index: 9999;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 4px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.7;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.select-list span {
  display: block;
  padding: 5px 6px 5px 6px;
  border-bottom: 1px solid #00000029;
}

.select-list span:last-child {
  border-bottom: none;
}

.select-list span:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);;
}
.select-list .highlighted{
  background-color: rgba(0, 0, 0, 0.04);;
}

/* Filter */
.flex-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.flex-item {
  flex: 50%;
  text-align: center;
  align-content: center;
  height: 68px;
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* CSS for Graph */
canvas {
  height: 80vh;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* container css */
.main-container {
  text-align: center;
}

.main-container .container-label {
  height: 50px;
  align-content: center;
}
.display-container {
  text-align: center;
  border: 3px dotted grey;
  margin: auto;
  padding: 10%;
  width: 60%;
}
.display-container p:first-of-type {
  font-size: 30px;
}
.display-container img{
  height: 128px;
  width: 128px;
}

.skeleton-title {
  width: 45%;
  height: 20px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite linear;
  border-radius: 4px;
  margin: auto;
}
